@model IEnumerable<skillDev.Models.Student>

@{
    ViewData["Title"] = "Index";
    string url = Context.Request.Path + Context.Request.HttpContext.Request.QueryString;
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="row text-center">
    <h1 style="text-align:center">Students List</h1>
</div>


<div class="row">
    <form method="post">
        <div class="form-group">
            <div class="col-3 mb-4" style="float:left;padding:5px">
                <a href="~/Student/Create?url=@url" class="btn btn-primary form-control">Create New</a>
            </div>
            <div class="col-3 mb-4" style="float:left;padding:5px">
                <a href="~/Student/ExcelExport?classId=@ViewBag.classId&stName=@ViewBag.stName&cityId=@ViewBag.cityId&stateId=@ViewBag.stateId&courseId=@ViewBag.courseId" class="btn btn-warning form-control"> Excel</a>
            </div>
            <div class="col-3 mb-4" style="float:left;padding:5px">
                <a href="~/Student/PdfExport?classId=@ViewBag.classId&stName=@ViewBag.stName&cityId=@ViewBag.cityId&stateId=@ViewBag.stateId&courseId=@ViewBag.courseId" class="btn btn-danger form-control">Pdf</a>
            </div>
            <div class="col-3 mb-4" style="float:left;padding:5px">
                <input type="submit" value="Filter List" class="btn btn-primary form-control" style="color:white;background-color:blue" />
            </div>
            <div class="col-4" style="float:left ;padding:5px">
                <label class="control-label">Filter studentByName</label>
                <select name="stName" class="form-control" id="stName">
                    <option value="">Select Student</option>
                    @foreach (var name in ViewBag.StudentNames)
                    {
                        if (ViewBag.stName == name)
                        {
                            <option value="@name" selected>@name</option>
                        }
                        else
                        {
                            <option value="@name">@name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-4" style="float:left;padding:5px">
            <label>Filter StudentByCity</label>
            <select name="cityId" class="form-control">
                <option>----Select City----</option>
                @foreach (var obj in ViewBag.ct)
                {
                    if (@obj.id == @ViewBag.cityId)
                    {
                        <option selected value="@obj.id">
                            @obj.cityName
                        </option>
                    }
                    else
                    {
                        <option value="@obj.id">
                            @obj.cityName
                        </option>
                    }
                }
            </select>
        </div>
        <div class="col-4" style="float:left;padding:5px">
            <label>Filter StudentByCourse</label>
            <select name="courseId" class="form-control">
                <option>----Select Course---</option>
                @foreach (var obj in ViewBag.cs)
                {
                    if (@obj.id == @ViewBag.courseId)
                    {
                        <option selected value="@obj.id">
                            @obj.courseName
                        </option>
                    }
                    else
                    {
                        <option value="@obj.id">
                            @obj.courseName
                        </option>
                    }
                }
            </select>
        </div>
        <div class="col-4" style="float:left;padding:5px">
            <label>Filter StudentByState</label>
            <select name="stateId" class="form-control">
                <option>---Select Course---</option>
                @foreach (var obj in ViewBag.st)
                {
                    if (@obj.id == @ViewBag.stateId)
                    {
                        <option selected value="@obj.id">
                            @obj.stateName
                        </option>
                    }
                    else
                    {
                        <option value="@obj.id">
                            @obj.stateName
                        </option>
                    }
                }
            </select>
        </div>
        <div class="col-4" style="float:left;padding:5px">
            <label>Filter StudentByClass</label>
            <select name="classId" class="form-control">
                <option>---Select Class---</option>
                @foreach (var obj in ViewBag.cl)
                {
                    if (@obj.id == @ViewBag.classId)
                    {
                        <option selected value="@obj.id">
                            @obj.className
                        </option>
                    }
                    else
                    {
                        <option value="@obj.id">
                            @obj.className
                        </option>
                    }
                }
            </select>
        </div>

    </form>
</div>

<table class="table">
    <thead>
        <tr>

            <th>
                Student Name
            </th>
            <th>
                Image
            </th>
            <th>
                Class
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Course
            </th>
            <th>
                Caste
            </th>
            <th>
                Gender
            </th>
            <th>
                Fees
            </th>
            <th>
                Mob No
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.stName)
                </td>
                <td>
                    <img class="student-image" src="@item.ImagePath" alt="Student Image" width="50" height="50" style="border-radius:10px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.className)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cast)
                </td>
                <td>
                    @if (item.gender == "1")
                    {
                        @("Male")
                    }
                    else if (item.gender == "2")
                    {
                        @("Female")

                    }
                    else
                    {
                        @("")
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fees)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mobNo)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id, url = url }, new { @class = "btn btn-warning" })

                    @Html.ActionLink("Delete", "Delete", new { id = item.id, url = url }, new { @class = "btn btn-danger" })
                </td>



            </tr>
        }
        <tr>
            <td colspan="7"></td>
            <td>Total Fees</td>
            <td>@ViewBag.totalFees</td>
        </tr>
    </tbody>
</table>

<!-- the following script for Student image of your view -->
<script>
    $(document).ready(function () {
        $(".student-image").click(function () {
            var imageUrl = $(this).attr("src");
            Swal.fire({
                imageUrl: imageUrl,
                imageAlt: 'Student Image',
                width: '40%', 
                showConfirmButton: false, // Remove the "OK" button
                customClass: {
                    image: 'sweet-alert-image' 
                }
            });
        });
    });
</script>